<div>
  <div>
    <% if current_customer.admin? %>
      <%= link_to 'Customer Information', 'customers' %> |
      <%= link_to 'Payment Information', 'payments' %><br />
      <%= link_to 'New Customer', new_customer_path %> |
      <%= link_to 'New Payment', new_payment_path %>
    <% end %>
  </div>
</div>
