<div class="cut">
  <%= fields_for_cut(cut) do |c| %>
    <h3>Cut</h3>
    <p>
      Date Cut<%= c.text_field :date_cut %>
      <%= link_to_function "Remove Cut", "this.up('.cut').remove();" %>
    </p>
  <% end %>
</div>
